<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bootstrap, from Twitter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Blog page by M.L.">
  <meta name="author" content="Maciej Lorens">

  <%= stylesheet_link_tag "application", :media => "all" %> <body class='<%= controller.controller_name %>'>
  <%= stylesheet_link_tag 'bootstrap' %>
  <%= stylesheet_link_tag 'bootstrap-responsive' %>
  
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .sidebar-nav {
      padding: 9px 0;
    }
  </style>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Samuel's blog", root_path, :class => "brand" %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <% Taxon.taxonomies.each do |taxonomy| %>
            <li><%= link_to taxonomy.name, taxonomy.permalink %></li>
          <% end %>
          <% if user_signed_in? && current_user.is_admin? %>
            <li><%= link_to "Taxons", taxons_path %></li>
          <% end %>
        </ul>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to "You are logged as #{current_user.email}", edit_user_registration_path %></li>
            <li><%= link_to "Log out", destroy_user_session_path %></li>
          <% else %>
            <li><%= link_to "Sing in", new_user_session_path %></li>
            <li><%= link_to "Sing up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Categories</li>
          <%= yield(:sidebar) %>
        </ul>
      </div>
    </div>
    <div class="span9">
      <%= yield %>
    </div>
  </div>

  <hr>
  
  <footer>
    <p>&copy; MLSoftware <%= Time.current.year %></p>
  </footer>
</div>

</body>
</html>
