<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  
  <div id="header">
    <div id="logo">
      <h1><a href="#">Blog Samuela</a></h1>
      <p><span>by M. L.</span></p>
    </div>
    <div id="search">
      <form id="searchform" method="get" action="">
        <fieldset>
          <input type="text" name="s" id="s" size="15" value="" />
          <input type="submit" id="x" value="Search" />
        </fieldset>
      </form>
    </div>
  </div>
  
  <div id="menu">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Blog", posts_path %></li>
      <li><%= link_to "Hobby", hobby_path %></li>
      <li><%= link_to "Ruby on Rails", ruby_on_rails_path %></li>
      <li><%= link_to "Portfolio", portfolio_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </div>
  
  <div id="page">
    
    <div id="content">
      <%= yield %>
    </div>

    <div id="sidebar">
      <%= render :partial => "shared/sidebar" %>
    </div>

  </div>

  <div id="footer">
    <p class="legal">
      &copy;2007 Night Vision. All Rights Reserved.
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      Design by <a href="http://www.freecsstemplates.org">FCT</a>
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      Icons by <a href="http://famfamfam.com/">FAMFAMFAM</a>. </p>
    <p class="links">
      <a href="http://validator.w3.org/check/referer" class="xhtml" title="This page validates as XHTML">Valid <abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a>
      &nbsp;&bull;&nbsp;
      <a href="http://jigsaw.w3.org/css-validator/check/referer" class="css" title="This page validates as CSS">Valid <abbr title="Cascading Style Sheets">CSS</abbr></a>
    </p>
  </div>
  
</div>
</body>
</html>
